:root{
    --black: #111111;
    --midblack: #282828;
    --maingreen: #47FA7A;
    --off-white: #ffffff;
    --light-grey: #D9D9D9;
    --dark-grey: #e8e8e8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Montserrat",sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
}

.main--header{
    background-color: var(--black);
    width: 100%;
    height: 50px;
    color: var(--off-white);
    display: grid;
    grid-template-columns: 300px 1fr 250px;
    grid-template-rows: 50px;
    justify-content:space-evenly;
    align-content:center;
}

.header--mainlogo{
    display: flex;
    flex-direction: row;
}

.header--mainlogo img{
    align-self: center;
    margin-right: 5px;
    margin-left: 10px;
    max-width: 30px;
}

.header--mainlogo h1{
    align-self: center;
    font-size: 1.8rem;
    font-weight: 800;
}

.header--searcher{
    align-self: center;
    margin: 0 20px;
}

.header--searcher input{
    color: var(--off-white);
    background-color: #262626;
    width: 80%;
    min-width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-indent: 30px;
}

.header--searcher input::placeholder{
    color: var(--light-grey);
    text-align: left;
}

.header--searcher input:focus{
    transition: 0.3s;
    background-color: var(--dark-grey);
    color: black;
    outline: none;
}

.header--username{
    font-weight: 500;
    margin: 0 25px;
    align-self: center;
    border-radius: 30px;
}

.header--username img{
    vertical-align: middle;
    max-width: 35px;
    margin-right: 5px;
}

.header--username p{
    display: inline-block;
}

.header--username p span{
    position: absolute;
    vertical-align: bottom;
    margin-left: 10px;
    width: 25px;
    height: 20px;
    background-image: url("../assets/header/arrow-down.svg");
    background-repeat: no-repeat;
}

.header--username:hover{
    cursor: pointer;
    background-color: var(--maingreen);
    color: var(--black);
    border-radius: 20px;
    padding: 2px;
    margin: 0 23px;
    transition: 0.2s;
}

.container{
    position: relative;
}

.container--aside{
    position: fixed;
    top: 50px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px 50px 50px 50px;
    justify-content:center;
    align-content: space-around;
    background-color: var(--dark-grey);
    width: 7%;
}

/* .container--aside div:last-child{
    position: absolute;
    bottom: 0%;
}  */

.home,
.trending,
.moreliked,
.settings{
    width: 50px;
    height:50px;
}

.home img,
.trending img,
.moreliked img,
.settings  img{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
